*.js
!jest.config.js
*.d.ts
node_modules
.venv_martianbank
show_structure.sh
build
lib/config/database.json
__pycache__
.pytest_cache

# Unignore .js files in /serverless-martian-bank/ui
!ui/**/*.js
# Unignore atm_locator.js lambda function
!domains/atm/application/handlers/atm_locator.js

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
dist
