*.js
!jest.config.js
*.d.ts
node_modules
.venv_martianbank
show_structure.sh
build

# Unignore .js files in /serverless-martian-bank/ui
!ui/**/*.js

!domains/atm/application/handlers/atm_locator.js

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
dist
